[submodule "giraf-component"]
	path = giraf-component
	url = http://cs-cust06-int.cs.aau.dk/git-ro/giraf-component.git
[submodule "cars/src/main/java/dk/aau/cs/giraf/game_framework"]
	path = cars/src/main/java/dk/aau/cs/giraf/game_framework
	url = http://cs-cust06-int.cs.aau.dk/git-ro/game-framework.git
